textarea {
  resize: none;
  width: 100%;
  height: 25em !important;
}

span.field-label {
  width: 120px;
  text-align: right;
}
span.field-type {
  width: 64px;
}
select.field-type-in {
  max-width: 120px !important;
}